/** @format */

.container {
  margin: 0 auto;
  width: 85%;
}

.section {
  padding-top: 10vh;
}

/* Heading and Paragraph Styles */
.para_primary {
  font-size: 0.9rem;
  color: var(--light_gray);
  line-height: 1.6;
}

.heading_primary {
  font-size: 2.52rem;
  color: var(--primary_color);
  line-height: 1.1;
}

.heading_secondary {
  font-size: 1.92rem;
  color: var(--primary_color);
}

.heading_tertiary {
  font-size: 1.2rem;
  color: var(--primary_color);
}

/* Button Styles */
.btn {
  font-size: 0.9rem;
  border: none;
  color: var(--btn_color);
  padding: 0.78rem 1.44rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 34px;
  background: linear-gradient(to left, #32b8cf, #2ad461);
}

.btn:hover {
  background: linear-gradient(to left, #82d3e3, #7ee69f);
}

/*  */
.mb_5 {
  margin-bottom: 4vh;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
